# Server Configuration
PORT=3000

# MQTT Configuration
MQTT_HOST=a9de91952e404a93bc1b4be0175fd299.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=rrdevices_RO_Plants
MQTT_PASSWORD=RRdevices@123

# For production, set NODE_ENV to production
NODE_ENV=development